body {
  margin: 0;
  font-family: "Belanosima", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b162e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.input__container {
  padding: 20px;
  background-color: #302555;
  border-radius: 20px;
}
.input__wrapper input {
  margin-right: 25px;
  padding: 10px;
  border-radius: 5px;
}
.add__task {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
}
